:root{
  --paragraphsColor: #b4b5b5
}
*{
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  background-color: black;
}
button{
  padding: 7px 0;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}
button:hover{
  opacity: 0.7;
}
.page{
  display: flex;
}
.page .leftSide{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;  
}
.page .leftSide .topPart .Xicon{
  font-size:25px ;
  color: var(--paragraphsColor);
}
.page .leftSide .topPart ul{
  margin: 30px 0;
}
.page .leftSide .topPart ul li{
  color: var(--paragraphsColor);
  padding: 7px 0;
  transition: all 0.3s linear;
  display: flex;
  align-items: center;
}
.page .leftSide .topPart ul li:hover,
.page .leftSide .topPart ul li:hover a{
  color: white;
}
.page .leftSide .topPart ul li:hover{
background-color: var(--paragraphsColor);
}
.page .leftSide .topPart ul li a{
  color: var(--paragraphsColor);
  text-decoration: none;
  margin-left: 5px;
  display: inline-block;
  width: 100%;
}
.page .leftSide .user{
  display: flex;
}
.page .leftSide .user img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.page .leftSide .user .userInfo{
  margin: 0 7px;
}
.page .leftSide .user .userInfo .userName{
  color: white;
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: "nowrap";
}
.page .leftSide .user .userInfo .userEmail{
  color: #37393c;
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: "nowrap";
}
.page .leftSide .user .ellipsis{
  color: white;
  align-self: center;
}