:root{
  --paragraphsColor: #dadcdc;
  --secondoryColor : #5c6064;
}
*{
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  background-color: black;
}
.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*For responsive page*/
@media (min-width:768px) {
  .container{
      width:750px; 
  }
}

/*medium screen*/
@media (min-width:992px) {
  .container{
      width:970px;
  }
}

/*large screen*/
@media (min-width:1200px) {
  .container{
      width:1170px;
  }
}
button{
  padding: 7px 0;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}
button:hover{
  opacity: 0.7;
}
.page{
  display: flex;
}
.page .leftSide{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 20px 0;
  position: fixed;
  width: 250px;
}
@media (max-width:1199px){
  .page .leftSide{
    position: static;
    width: 100%;
    height: 60px;
    z-index: 1;
    background-color: #26292b;
    padding: 0;
    margin-bottom: 20px;
    border-radius: 10px;
  }
}
.page .leftSide .topPart .Xicon{
  font-size:25px ;
  color: var(--paragraphsColor);
  padding-left: 20px;
}
@media (max-width:1199px){
  .page .leftSide .topPart{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
  }
}
.page .leftSide .topPart ul{
  margin: 30px 0;
}
@media (max-width:1199px){
  .page .leftSide .topPart ul{
    display: none;
  }
}
.page .leftSide .topPart ul li{
  color: var(--paragraphsColor);
  padding: 10px 20px;
  transition: all 0.3s linear;
  display: flex;
  align-items: center;
}
.page .leftSide .topPart ul li:hover,
.page .leftSide .topPart ul li:hover a{
  color: white;
}
.page .leftSide .topPart ul li:hover{
background-color: var(--paragraphsColor);
}
.page .leftSide .topPart ul li a{
  color: var(--paragraphsColor);
  text-decoration: none;
  margin-left: 5px;
  display: inline-block;
  width: 100%;
}
@media (max-width:1199px){
  .page .leftSide .topPart ul li a{
    display: none;
  }
}
.page .leftSide .topPart .list{
  display: none;
  color: var(--paragraphsColor);
  font-size: 20px;
  cursor: pointer;
}
@media (max-width:1199px){
  .page .leftSide .topPart .list{
    display: block;
  }
}
.page .leftSide .user{
  display: flex;
  justify-content: space-between;
}
@media (max-width:1199px){
  .page .leftSide .user{
    display: none;
  }
}
.page .leftSide .user img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.page .leftSide .user .userInfo{
  margin: 0 7px;
}
.page .leftSide .user .userInfo .userName{
  color: white;
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: "nowrap";
}
.page .leftSide .user .userInfo .userEmail{
  color:var(--secondoryColor) ;
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: "nowrap";
}
.page .leftSide .user .ellipsis{
  color: white;
  align-self: center;
}
.page .content{
  flex: 1;
  display: flex;
  margin-left: 260px;
}
@media (max-width:1199px){
  .page .content{
    margin-left: 0;
  }
}
.page .content .mid{
  /* width: 50%; */
  border-right: 1px solid #26292b;
  border-left: 1px solid #26292b;  
  
}
.page .content .mid .profile .top{
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.page .content .mid .profile .top .arrow{
  color: var(--paragraphsColor);
  cursor: pointer;
}
.page .content .mid .profile .top div{
  margin-left: 30px;
}
.page .content .mid .profile .top div h3{
  color: var(--paragraphsColor);
  font-weight: bold;
}
.page .content .mid .profile .top div p{
  color: var(--secondoryColor);
}
.page .content .mid .profile .coverPhoto{
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 200px;
  position: relative;
}
.page .content .mid .profile .coverPhoto::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(238 238 238 / 20%);
}
.page .content .mid .profile .actions{
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  position: relative;
  justify-content: flex-end;
}
.page .content .mid .profile .actions img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid black;
  position: absolute;
  left: 20px;
  top: -50px;
}
.page .content .mid .profile .actions div{
  display: flex;
  align-items: center;
  height: fit-content;
}
.page .content .mid .profile .actions div .actionIcon{
  margin-right: 10px;
  border: 1px solid var(--paragraphsColor);
  border-radius: 50%;
  padding: 5px;
  color: var(--paragraphsColor);
  cursor: pointer;
}
.page .content .mid .profileInfo{
  padding:0 20px;
}
.page .content .mid .profileInfo h3{
  font-weight: bold;
  color: var(--paragraphsColor);
  margin-bottom: 3px;
}
.page .content .mid .profileInfo .nickName{
  color: var(--secondoryColor);
}
.page .content .mid .profileInfo .description{
  color: var(--paragraphsColor);
  margin: 12px 0;
  font-size: 14px;
}
.page .content .mid .profileInfo .flex{
  display: flex;
  color: var(--secondoryColor); 
}
.page .content .mid .profileInfo .flex div{
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.page .content .mid .profileInfo .flex div a{
  color: #105c8f;
  text-decoration: none;
}
.page .content .mid .profileInfo .flex div a,
.page .content .mid .profileInfo .flex div p{
  margin-left: 10px;
}
.page .content .mid .profileInfo .follow{
  display: flex;
  margin: 12px 0 20px;
}
.page .content .mid .profileInfo .follow p{
  color: var(--paragraphsColor);
  margin-right: 20px;
}
.page .content .mid .profileInfo .follow p span{
  color: var(--secondoryColor);
}
.page .content .mid .links{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #26292b;
}
.page .content .mid .links a{
  color: var(--secondoryColor);
  text-decoration: none;
  padding-bottom: 10px;
}
.page .content .mid .links a.active{
  color: var(--paragraphsColor);
  border-bottom: 2px solid #1c9ff8;
}
.page .content .mid .posts .post{
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #26292b;  
}
.page .content .mid .posts .post img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.page .content .mid .posts .post .info{
  flex: 1;
  margin-left: 15px;
}
.page .content .mid .posts .post .info .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page .content .mid .posts .post .info .header div{
  display: flex;
  align-items: center;
}
.page .content .mid .posts .post .info .header div .name{
  color: var(--paragraphsColor);
  font-weight: bold;
}
@media(max-width:767px){
  .page .content .mid .posts .post .info .header div .name{
    font-size: 15px;
  }
}
.page .content .mid .posts .post .info .header div .name2{
  margin: 0 5px;
}
.page .content .mid .posts .post .info .header div .name2,
.page .content .mid .posts .post .info .header div span{
  color: var(--secondoryColor);
  font-size: 15px;
}
@media(max-width:767px){
  .page .content .mid .posts .post .info .header div .name2,
  .page .content .mid .posts .post .info .header div span{
    font-size: 13px;
  }
}
.page .content .mid .posts .post .info .postContent{
  color: var(--paragraphsColor);
  margin-bottom: 10px;
}
@media(max-width:767px){
  .page .content .mid .posts .post .info .postContent{
    font-size: 16px;
  }
}
.page .content .mid .posts .post .info .footer{
  display: flex;
  justify-content: space-between;
  color: var(--paragraphsColor);
}
.page .content .mid .posts .post .info .footer span{
  margin-left: 5px;
}
.page .content .mid .pages{
  padding: 20px;
}
.page .content .mid .pages h3{
  color: var(--paragraphsColor);
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 40px;
}
.onePage{
  display: flex;
  margin-bottom: 30px;
  width: 100%;
}
.onePage .cont{
  margin-left: 15px;
  width: 100%;
}
.onePage img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.onePage .cont > div{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.onePage .cont > div h4{
  color: var(--paragraphsColor);
  margin-right: 5px;
}
.onePage .cont > div .name2{
  color: var(--secondoryColor);
  margin: 2px 0 5px;
}
.onePage .cont > div .verified{
  color: #1d9cf2;
}
.onePage .cont .description{
  color: var(--paragraphsColor);
}
.page .rightSide{
  padding: 20px 0 20px 20px ;
  width: 40%;
}
@media (max-width:991px){
  .page .rightSide{
    display: none;
  }
}
.page .rightSide .search{
  background-color: #16181c;
  padding: 15px 30px;
  border-radius: 50px;
}
.page .rightSide .search .glass{
  color: var(--secondoryColor);
}
.page .rightSide .search input{
  background-color: transparent;
  padding: 10px;
  border: none;
  color: var(--paragraphsColor);
}
.page .rightSide .search input::placeholder{
  color: var(--secondoryColor);
  font-size: 17px;
}
.page .rightSide .search input:focus{
  outline: none;
}
.might,
.trends{
  background-color: #16181c;
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0;
}
.might h3,
.trends h3{
  color: var(--paragraphsColor);
  margin-bottom: 20px;
}
.trends .trend {
  margin-bottom: 20px;
}
.trends .trend div p,
.trends .trend p + p{
  color: var(--secondoryColor);
  font-size: 13px;
}
.trends .trend .name{
  color: var(--paragraphsColor);
  font-weight: bold;
  margin: 2px 0;
}
.moreLinks{
  width: 85%;
  margin: 0 auto;
}
.moreLinks a{
  color: var(--secondoryColor);
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
}
