:root{
  --paragraphsColor: #dadcdc;
  --secondoryColor : #37393c;
}
*{
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  /* background-color: black; */
}
button{
  padding: 7px 0;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}
button:hover{
  opacity: 0.7;
}
.page{
  display: flex;
}
.page .leftSide{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 20px 10px;
  border-right: 1px solid #26292b;  
}
.page .leftSide .topPart .Xicon{
  font-size:25px ;
  color: var(--paragraphsColor);
}
.page .leftSide .topPart ul{
  margin: 30px 0;
}
.page .leftSide .topPart ul li{
  color: var(--paragraphsColor);
  padding: 7px 0;
  transition: all 0.3s linear;
  display: flex;
  align-items: center;
}
.page .leftSide .topPart ul li:hover,
.page .leftSide .topPart ul li:hover a{
  color: white;
}
.page .leftSide .topPart ul li:hover{
background-color: var(--paragraphsColor);
}
.page .leftSide .topPart ul li a{
  color: var(--paragraphsColor);
  text-decoration: none;
  margin-left: 5px;
  display: inline-block;
  width: 100%;
}
.page .leftSide .user{
  display: flex;
}
.page .leftSide .user img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.page .leftSide .user .userInfo{
  margin: 0 7px;
}
.page .leftSide .user .userInfo .userName{
  color: white;
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: "nowrap";
}
.page .leftSide .user .userInfo .userEmail{
  color:var(--secondoryColor) ;
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: "nowrap";
}
.page .leftSide .user .ellipsis{
  color: white;
  align-self: center;
}
.page .content{
  flex: 1;
  display: flex;
}
.page .content .mid{
  width: 55%;
  border-right: 1px solid #26292b;  
}
.page .content .mid .profile .top{
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.page .content .mid .profile .top .arrow{
  color: var(--paragraphsColor);
  cursor: pointer;
}
.page .content .mid .profile .top div{
  margin-left: 30px;
}
.page .content .mid .profile .top div h3{
  color: var(--paragraphsColor);
  font-weight: bold;
}
.page .content .mid .profile .top div p{
  color: var(--secondoryColor);
}
.page .content .mid .profile .coverPhoto{
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 200px;
  position: relative;
}
.page .content .mid .profile .coverPhoto::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(238 238 238 / 20%);
}
.page .content .mid .profile .actions{
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  position: relative;
  justify-content: flex-end;
}
.page .content .mid .profile .actions img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid black;
  position: absolute;
  left: 20px;
  top: -50px;
}
.page .content .mid .profile .actions div{
  display: flex;
  align-items: center;
  height: fit-content;
}
.page .content .mid .profile .actions div .actionIcon{
  margin-right: 10px;
  border: 1px solid var(--paragraphsColor);
  border-radius: 50%;
  padding: 5px;
  color: var(--paragraphsColor);
  cursor: pointer;
}
.page .content .mid .profileInfo{
  padding:0 20px;
}
.page .content .mid .profileInfo h3{
  font-weight: bold;
  color: var(--paragraphsColor);
  margin-bottom: 3px;
}
.page .content .mid .profileInfo .nickName{
  color: var(--secondoryColor);
}
.page .content .mid .profileInfo .description{
  color: var(--paragraphsColor);
  margin: 12px 0;
  font-size: 14px;
}
.page .content .mid .profileInfo .flex{
  display: flex;
  color: var(--secondoryColor); 
}
.page .content .mid .profileInfo .flex div{
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.page .content .mid .profileInfo .flex div a{
  color: #105c8f;
  text-decoration: none;
}
.page .content .mid .profileInfo .flex div a,
.page .content .mid .profileInfo .flex div p{
  margin-left: 10px;
}
.page .content .mid .profileInfo .follow{
  display: flex;
  margin: 12px 0 20px;
}
.page .content .mid .profileInfo .follow p{
  color: var(--paragraphsColor);
  margin-right: 20px;
}
.page .content .mid .profileInfo .follow p span{
  color: var(--secondoryColor);
}
.page .content .mid .links{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #26292b;
}
.page .content .mid .links a{
  color: var(--secondoryColor);
  text-decoration: none;
  padding-bottom: 10px;
}
.page .content .mid .links a.active{
  color: var(--paragraphsColor);
  border-bottom: 2px solid #1c9ff8;
}
.page .content .mid .posts .post{
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #26292b;  
}
.page .content .mid .posts .post img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.page .content .mid .posts .post .info{
  flex: 1;
  margin-left: 15px;
}
.page .content .mid .posts .post .info .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page .content .mid .posts .post .info .header div{
  display: flex;
}
.page .content .mid .posts .post .info .header div .name{
  color: var(--paragraphsColor);
  font-weight: bold;
}
.page .content .mid .posts .post .info .header div .name2{
  margin: 0 5px;
}
.page .content .mid .posts .post .info .header div .name2,
.page .content .mid .posts .post .info .header div span{
  color: var(--secondoryColor);
  font-size: 15px;
}
.page .content .mid .posts .post .info .postContent{
  color: var(--paragraphsColor);
  margin-bottom: 10px;
}
.page .content .mid .posts .post .info .footer{
  display: flex;
  justify-content: space-between;
  color: var(--paragraphsColor);
}
.page .content .mid .posts .post .info .footer span{
  margin-left: 5px;
}